@charset "UTF-8";

/* Pontos de interrupção típicos do dispositivo
------------------------
Telas pequenas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Área de trabalho: de 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 1200px){
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    
    :root{
        --cor01: black;
        --cor02: #5E94CC;
        --cor03: #90FFFE;
        --cor04: #FFD9CF;
        --cor05: #CC655E;
        --cor06: rgb(36, 33, 33);
    
        --fonte01: 'Zaptron', sans-serif;
        --fonte02: 'Raleway', sans-serif;
        --fonte03: 'Prime', sans-serif;
    }

    /*Simbolo do menu hamburguer*/
    span#burguer{ 
        display: none;
    }
    
    /*Menu*/
    header, div#fundo{ /*fundo quem engloba o HOME e QUEM SOU*/
        background-color: black;
        background-image: url('../imagens/fundo-home.jpg');
        background-size: cover;
        background-position: right, center;
        background-attachment: fixed;
        height: 1320px;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.562);
    }
    header{
        height: 55px;
    }
    .menu-total{
        background-color: rgba(255, 255, 255, 0.068);
    }
    header menu{
        display: block;
        margin-right: 8px;
    }
    header menu > ul > li{
        display: inline-block;
    }
    header ul > li > a{
        transition: all ease-in-out .5s;
        opacity: 0.4;
    }
    header ul > li a:hover{
        background-color: transparent;
        text-decoration: underline;
        opacity: 1;
        border-radius: 15px;
        width: auto;
        cursor: pointer;
    }
    header h2{
        margin-top: 12px;
    }

    /*main home*/
    section.home h1{
        font-size: 80px;
    }
    section.home h2{
        font-size: 28px;
    }

    /*Botões do Linkedin e Github do Home*/
    #botao-home{
        transform: translate(25px, 0%);
    }
    section.home div#botao-home a{
        width: 120px;
        font-size: 18px;
        transition: all ease-in-out .5s;
    }
    section.home div#botao-home a:hover{
        background-color: var(--cor04);
        color: var(--cor05);
        box-shadow: -3px 3px 6px #ffd9cf65;
        transform: translate(+3px, -3px);
    }

    /*img - scroll down*/
    #scroll-down{
        transform: translate(0%, 480px);
        width: 100%;
    }

    /*Simbolo </> entre quem sou e habilidades*/
    div#espaco{
        transform: translate(0px, -58px);
    }
    div#espaco p{
        font-size: 110px;
    }

    /*main - hailidaddes*/
    /*Slider*/
    .slider{
        width: 300px;
        transform: translate(300px, -300px);
        background-color: var(--cor06);
        color: var(--cor04);
    }

    /*rodapé*/
    #rodape{
        width: 90%;
        height: 180px;
        margin: auto;
        position: relative;
    }
    #menu-rodape{
        display: inline-block;
        position: absolute;
        top: 30px;
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        height: 120px;
        width: 30%;
        
    }
    #redes-sociais{
        display: inline-block;
        position: absolute;
        top: 78px;
        left: 35%;
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        height: 120px;
        width: 30%;
    }
    #contato{
        display: inline-block;
        position: absolute;
        top: 30px;
        left: 65%;
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        width: 40%;
        height: 120px;
    }
    #contato h3{
        font-weight: bold;
        color: var(--cor05);
        padding: 0px;
    }
    #contato p{
        padding: 0px;
    }
}



@media screen and (min-width: 1200px) {
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    
    :root{
        --cor01: black;
        --cor02: #5E94CC;
        --cor03: #90FFFE;
        --cor04: #FFD9CF;
        --cor05: #CC655E;
        --cor06: rgb(36, 33, 33);
    
        --fonte01: 'Zaptron', sans-serif;
        --fonte02: 'Raleway', sans-serif;
        --fonte03: 'Prime', sans-serif;
    }

    /*Simbolo do menu hamburguer*/
    span#burguer{ 
        display: none;
    }
    
    /*Menu*/
    header, div#fundo{ /*fundo quem engloba o HOME e QUEM SOU*/
        background-color: black;
        background-image: url('../imagens/fundo-home.jpg');
        background-size: cover;
        background-position: right, center;
        background-attachment: fixed;
        height: 1320px;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.562);
    }
    header{
        height: 60px;
    }
    .menu-total{
        background-color: rgba(255, 255, 255, 0.068);
    }
    header menu{
        margin-right: 8px;
    }
    header menu > ul > li{
        display: inline-block;
    }
    header ul > li > a{
        font-size: 18px;
        opacity: 0.4;
        transition: all ease-in-out .5s;
    }
    header ul > li a:hover{
        background-color: transparent;
        text-decoration: underline;
        opacity: 1;
        border-radius: 15px;
        width: auto;
        cursor: pointer;
    }
    header h2{
        margin-top: 12px;
    }

    /*main home*/
    section.home h1{
        font-size: 95px;
    }
    section.home h2{
        font-size: 30px;
        padding-left: 10px;
    }

    /*Botões do Linkedin e Github do Home*/
    #botao-home{
        transform: translate(550px, 0%);
    }
    section.home div#botao-home a{
        width: 120px;
        font-size: 18px;
        transition: all ease-in-out .5s;
    }
    section.home div#botao-home a:hover{
        background-color: var(--cor04);
        color: var(--cor05);
        box-shadow: -3px 3px 6px #ffd9cf65;
        transform: translate(+3px, -3px);
    }

    /*img - scroll down*/
    #scroll-down{
        transform: translate(0%, 480px);
        width: 100%;
    }

    /*Simbolo </> entre quem sou e habilidades*/
    div#espaco{
        transform: translate(0px, -58px);
    }
    div#espaco p{
        font-size: 110px;
    }
    /*quem sou*/
    section.arthur h3{
        padding-left: 30px;
        font-size: 35px;
    }
    section.arthur p{
        width: 50vw;
        margin-left: 30px;
    }

    /*main - hailidaddes*/
    /*Slider*/
    section.habilidades{
        height: 97vh;
    }
    section.habilidades h3{
        margin-top: 15px;
        padding: 5px;
        padding-left: 20px;
        font-size: 28px;
    }
    div#habilidades > div#img{
        width: 100%;
        padding-left: 27%;
        margin-top: 40px;
    }
    div#habilidades > div#img picture{
        padding-left: 40px;
    }
    .slider{
        width: 300px;
        transform: translate(500px, 90px);
        background-color: var(--cor06);
        color: var(--cor04);
    }

    /*rodapé*/
    #rodape{
        width: 90%;
        height: 180px;
        margin: auto;
        position: relative;
    }
    #menu-rodape{
        display: inline-block;
        position: absolute;
        top: 30px;
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        height: 120px;
        width: 30%;
        
    }
    #redes-sociais{
        display: inline-block;
        position: absolute;
        top: 78px;
        left: 35%;
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        height: 120px;
        width: 30%;
    }
    #contato{
        display: inline-block;
        position: absolute;
        top: 30px;
        left: 65%;
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        width: 40%;
        height: 120px;
    }
    #contato h3{
        font-weight: bold;
        color: var(--cor05);
        padding: 0px;
    }
    #contato p{
        padding: 0px;
    }
}