@charset "UTF-8";

/* Pontos de interrupção típicos do dispositivo
------------------------
Telas pequenas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Área de trabalho: de 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span#burguer{
        display: none;
    }
    
    header menu > ul > li{
        display: inline-block;
    }
}