@charset "UTF-8";
@font-face {
    font-family: Zaptron;
    src: url('fontes/Zaptron-Regular.otf') format('opentype');
}
@font-face {
    font-family: Prime;
    src: url('fontes/Prime\ Regular.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family= Raleway :wght@400;600;700 & display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --cor01: black;
    --cor02: #5E94CC;
    --cor03: #90FFFE;
    --cor04: #FFD9CF;
    --cor05: #CC655E;
    --cor06: rgb(36, 33, 33);

    --fonte01: 'Zaptron', sans-serif;
    --fonte02: 'Raleway', sans-serif;
    --fonte03: 'Prime', sans-serif;
}

/*Header - menu*/
header{
    text-align: right;
    background-color: var(--cor01);
    position: relative;
    font-family: var(--fonte02);
}

header h2{
   position: absolute;
   color: var(--cor03);
   margin-top: 5px;
   margin-left: 20px;
   font-family: var(--fonte01);
   font-weight: 100;
}
header menu{
    display: none;
}
header ul{
    list-style-type: none;
    margin-top: 10px;
}
header ul > li{
    color: var(--cor03);
    text-align: left;
    padding-left: 30px;
    padding-bottom: 10px;
    transition: .3s;
}
header ul > li a:hover{
    background-color: var(--cor05);
    border-radius: 5px;
    width: 90vw;
    cursor: pointer;
}
header ul > li > a{
    padding: 5px;
    color: var(--cor04);
    text-decoration: none;
    font-weight: bold;
    display: block;
}
span#burguer{
    color: var(--cor03);
    font-size: 35px;
    padding-right: 10px;
}
span#burguer:active{
    color: white;
    cursor: pointer;
}

/*main - home*/
main div#fundo{ /*fundo quem engloba o HOME e QUEM SOU*/
    background-color: black;
    background-image: url('../imagens/fundo-home.jpg');
    background-size: cover;
    background-position: right, center;
    background-attachment: fixed;
    height: 1020px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.562);
}
section.home{
    height: 500px;
    position: relative;
}
section.home div#home{
    position: absolute;
    width: 90%;
    top: 15%;
    left: 5%;
}
section.home h1{
    font-family: var(--fonte01);
    font-size: 50px;
    font-weight: 300;
    color: var(--cor03);
    text-align: center;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.445);
}
section.home h2{
    color: var(--cor04);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 22px;
    font-family: var(--fonte02);
}
section.home div#botao-home{
    position: absolute;
    top: 60%;
    left: 30%;
}
section.home div#botao-home a{
    background-color: rgba(255, 255, 255, 0.068);
    padding: 5px;
    color: var(--cor04);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: var(--fonte02);
    border-radius: 30px;
    border: 1px solid var(--cor04);
    margin: 5px;
    width: 70px;
    display: inline-block;
    box-shadow: -1px 1px 5px #ffd9cf65;
    transition: .3s;
}
section.home div#botao-home a:active{
    background-color: var(--cor04);
    color: var(--cor05);
    box-shadow: -3px 3px 6px #ffd9cf65;
    transform: translate(+3px, -3px);
}
/*espaco entre home e arthur*/
div#espaco{
    width: 100vw;
    height: 90px;
    transform: translate(0px, -44px);
}
div#espaco p{
    font-size: 85px;
    font-weight: 100;
    font-family: var(--fonte01);
    text-align: center;
    color: var(--cor05);
    
}
/*main - arthur*/
section.arthur{
    padding: 20px;
    color: var(--cor04);
    font-family: var(--fonte02);
}
section.arthur h3{
    padding-top: 90px;
    font-size: 28px;
}
section.arthur p{
    background-color: rgba(255, 255, 255, 0.548);
    color: black;
    border-radius: 10px;
    padding: 15px;
    text-indent: 20px;
    line-height: 20px;
    width: 90vw;
    position: absolute;
    top: 45%;
}
section.arthur picture{
    position: absolute;
    left: 60%;
    top: 5%;
}

section.arthur div#arthur{
    width: 95%;
    height: 400px;
    position: relative;
}
/*main - hailidaddes*/
section.habilidades{
    padding: 1px 20px 20px 20px;
}
section.habilidades h3{
    font-family: var(--fonte02);
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    background-image: linear-gradient(to right, var(--cor05), transparent);
    color: white;
    border-radius: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
}
section.habilidades div#img{
    width: 25%;
    padding: 10px;
    padding-top: 20px;
    display: inline-block;
}

/*Slider*/
.slider{
    width: 260px;
    height: 120px;
    overflow: hidden;
    padding: 15px;
    transform: translate(105px, -190px);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
    position: relative;
}

.slider input{
    display: none;
}

.slides{
    display: flex;
    height: 100px;
    width: 400%;
}

.slide, .first{
    width: 25%;
    height: 100%;
    margin-right: 50px;
    transition: all 700ms ease-in-out;
}

.slide p{
    font-family: var(--fonte02);
    font-size: 16px;
    
}

/*Barras de navegação*/
.navigation-bar{
    position: absolute;
    display: flex;
    left: 35%;
    top: 80%;
    
}

.manual-btn{
    border: 1px solid rgba(0, 0, 0, 0.425);
    border-radius: 50%;
    padding: 6px;
    
}

.manual-btn:not(:last-child){
    margin-right: 8px;
}

.manual-btn:hover{
    background-color: var(--cor05);
    transition: all 600ms ease-in-out;
}

/*Configurações do menu de nav para ficar selecionado*/
.navigation-auto{
    position: absolute;
    display: flex;
    left: 35%;
    top: 80%;
}

.navigation-auto div{
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 50%;
    padding: 6px;
}

.navigation-auto div:not(:last-child){
    margin-right: 8px;
}

#btn01:checked ~ .navigation-auto .auto-btn01{
    background-color: #CC655E;
}
#btn02:checked ~ .navigation-auto .auto-btn02{
    background-color: #CC655E;
}
#btn03:checked ~ .navigation-auto .auto-btn03{
    background-color: #CC655E;
}

/*Configuração das trocas de tela*/
#btn01:checked ~ .first{
    margin-left: 0;
}
#btn02:checked ~ .first{
    margin-left: -30%;
}
#btn03:checked ~ .first{
    margin-left: -60%;
}
/*main - projetos*/

.projetos{
    height: 700px;
    background-color: var(--cor06);
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.562);
}

.projetos h3{
    font-family: var(--fonte03);
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    color: white;
}

#projetos{
    width: 90%;
    height: 500px;
    margin-left: 5%;
    margin-top: 40px;
    position: relative;
}

.proj01{
    width: 39%;
    height: 30%;
    position: absolute;
    top: 10%;
    left: 6%;
}


.proj02{
    width: 39%;
    height: 30%;
    position: absolute;
    top: 10%;
    left: 55%;
}

.proj03{
    width: 39%;
    height:30%;
    position: absolute;
    top: 50%;
    left: 6%;
}

.proj04{
    width: 39%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 55%;
}

.proj01, .proj02, .proj03, .proj04{
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.137);
    color: white;
    font-family: var(--fonte03);
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.39);
    transition: all 400ms ease-in-out;
}

.proj01 span, .proj02 span, .proj03 span, .proj04 span{
    display: block;
    text-align: center;
    font-size: 40px;
    color: rgb(235, 87, 33);
}

.proj01:hover, .proj02:hover, .proj03:hover, .proj04:hover{
    transform: translate(2%, 2%);
    background-color: rgba(255, 255, 255, 0.212);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.425);
    cursor: pointer;
}

/*footer -rodapé*/

.rodape{
    background-color: var(--cor06) ;
    font-family: var(--fonte02);
    color: var(--cor04);
}

#menu-rodape{
    display: inline-block;
    width: 35%;
    height: 120px;
    background-color: #5E94CC;
    margin-left: 10%;
    margin-top: 30px;
}
#menu-rodape ul{
    list-style-type: none;
}

#redes-sociais{
    display: inline-block;
    width: 35%;
    margin-left: 10%;
    margin-top: 30px;
    height: 120px;
    background-color: #5E94CC;
}

